extends common/header
block dash


	#levelUp
		h2.levelUpText Level Up!
	#death
		.deathTextArea.container
			h2.deathText You Have Died...
			p.deathExplanation Daily tasks are important for more than leveling up, they keep you alive!
				p Make sure you keep up with your dailies to survive!
				p Your level and experience have been reset, better luck next time!
			.closeButton
				a Close
	#dailyComplete
		.dailyCompleteArea.container
			h2.dailyCompleteText Victory!
			p.dailyExplanation Daily tasks are important for more than leveling up, they keep you alive!
				p Make sure you keep up with your dailies to survive!
				p 
			.closeButton
				a Close
	#charStats.row-fluid.container
		.col-sm-1.col-xs-5.charAvatar
		.col-sm-1.col-xs-5.levelIndicator
			p Level 
			p.currentLevel #{userCharacter.level}
		.col-sm-7.col-xs-12.col-sm-offset-1.bar
			#healthProgressbar.healthBar.ui-progressbar(role='progressbar')
			.hpText
				.charSpan.progress-label #{userCharacter.currentHealth} / #{userCharacter.health}  HP 
		br
		br
		.col-sm-7.col-xs-12.col-sm-offset-1.bar
			#experienceProgressbar.expBar.ui-progressbar(role='progressbar')
			.xpText
				.charSpan.progress-label #{userCharacter.experience} / #{userCharacter.maxExperience}  XP 

		.row-fluid.container
			h3.col-xs-5.offset-2.charName #{userCharacter.username[0].toUpperCase()}#{userCharacter.username.slice(1)} the Ambitious
			#currentPath

	hr
	.dashImage
	#dashBoard


	include common/footer
	script(src='/javascripts/lib/dash.js')
	include dashTemplate.html